<div class="jumbotron">
  <div class="container" *ngIf="publisher || addNew">
    <div class="col-md-6 offset-md-3" [hidden]="submitted">
      <h1 *ngIf="addNew">Add Publisher</h1>
      <h1 *ngIf="!addNew">Edit Publisher</h1>
      <form (ngSubmit)="onSubmit()" #publisherForm="ngForm">

        <div class="form-group">
          <label for="code">Name</label>
          <input type="text" class="form-control" id="code" required [(ngModel)]="publisher.code" name="code"
                 required minlength="2"
                 #code="ngModel">
          <div [hidden]="code.valid || code.pristine"
               class="alert alert-danger">
            code of min length 2 is required
          </div>
        </div>

        <div class="form-group">
          <label for="description">Name</label>
          <input type="text" class="form-control" id="description" required [(ngModel)]="publisher.description" name="description"
                 required minlength="3  "
                 #description="ngModel">
          <div [hidden]="description.valid || description.pristine"
               class="alert alert-danger">
            description of min length 3  is required
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary"  [disabled]="!publisherForm.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>


