<mat-toolbar
  class="app-toolbar no-print mat-toolbar mat-primary mat-elevation-z6 mat-toolbar-multiple-rows"
  color="primary">
  <mat-toolbar-row>


    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
      <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">
        Comics
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button ngbDropdownItem routerLink="/gradings">Grading</button>
        <button ngbDropdownItem routerLink="/publishers">Publishers</button>
        <button ngbDropdownItem routerLink="/titles">Titles</button>
      </div>

    </div>


    <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">
      <button class="btn btn-outline-primary mr-2" id="dropdownManualUsers" ngbDropdownAnchor (focus)="myDrop2.open()">
        Users
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownManualUsers">
        <button ngbDropdownItem routerLink="/users">Users</button>
        <button ngbDropdownItem routerLink="/roles">Roles</button>
      </div>

    </div>


    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-sm="true">
      <button *ngIf="!authenticated()" routerLink="/register" >
        Signup
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>&nbsp;&nbsp;

      <button *ngIf="!authenticated()" routerLink="/login" mat-raised-button value="Login">
        Login
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
      </button>

      <button *ngIf="authenticated()" mat-raised-button value="Logout" (click)="logout()">
        Logout <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      </button>
    </div>


  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
