<p>users</p>

<form>


  </form>


{{users$}}
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Authenticated</th>
    <th scope="col">Date Added</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let user of users$ | async  ">
    <!--<th scope="row">{{ i + 1 }}</th>-->
    <td>
      <ngb-highlight [result]="user.id"></ngb-highlight>
    </td>
    <td>
      <a routerLink="/user/{{user.id}}">
        <ngb-highlight [result]="user.userName" ></ngb-highlight>
      </a>
    </td>
    <td><ngb-highlight [result]="user.email" ></ngb-highlight></td>
    <td><ngb-highlight [result]="user.firstName" ></ngb-highlight></td>
    <td><ngb-highlight [result]="user.lastName" ></ngb-highlight></td>
    <td><ngb-highlight [result]="user.phoneNumber"></ngb-highlight></td>
    <td><ngb-highlight [result]="user.isAuthenticated" ></ngb-highlight></td>
    <td><ngb-highlight [result]="user.dateAdded" ></ngb-highlight></td>
  </tr>
  </tbody>
</table>


<!--<div class="d-flex justify-content-between p-2">-->
<!--  <ngb-pagination-->
<!--    [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">-->
<!--  </ngb-pagination>-->

<!--  <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">-->
<!--    <option [ngValue]="2">2 items per page</option>-->
<!--    <option [ngValue]="4">4 items per page</option>-->
<!--    <option [ngValue]="6">6 items per page</option>-->
<!--  </select>-->
<!--</div>-->

<div  class="d-inline-block" >
  <button type="button" class="btn btn-primary" routerLink="/user"  value="Login">
    Add User
  </button>
</div>


